absl-py==2.2.2
aci-sdk==1.0.0b4
addict==2.4.0
aenum==3.1.15
agentops==0.3.26
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiohttp-devtools==1.1.2
aiohttp-jinja2==1.6
aiohttp-retry==2.9.1
aiomysql==0.2.0
aiosignal==1.3.2
aiosqlite==0.20.0
alabaster==1.0.0
altair==5.5.0
annotated-types==0.7.0
ansi2html==1.9.2
anthropic==0.49.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
apify_client==1.12.2
apify_shared==1.5.0
arrow==1.4.0
arxiv==2.2.0
arxiv2text==0.1.14
asgiref==3.10.0
astor==0.8.1
asttokens==2.4.1
async-timeout==5.0.1
asyncio==3.4.3
asyncssh==2.21.0
attrs==25.3.0
Authlib==1.6.5
av==16.0.1
azure-core==1.36.0
azure-storage-blob==12.27.0
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==5.0.0
beautifulsoup4==4.14.2
bibtexparser==1.4.3
blessed==1.21.0
blinker==1.9.0
boto3==1.37.32
botocore==1.37.32
build==1.3.0
cachetools==6.2.1
camel-ai==0.2.78
Cerberus==1.3.7
certifi==2025.10.5
cffi==2.0.0
cfgv==3.4.0
chardet==5.2.0
chroma-hnswlib==0.7.6
chromadb==0.6.3
chunkr-ai==0.0.50
click==8.1.8
cloudpickle==3.1.1
cohere==5.19.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.1
coverage==7.11.0
Crawl4AI==0.4.24
cryptography==46.0.3
cssutils==2.11.1
currency-symbols==2.0.4
cycler==0.12.1
dappier==0.3.6
dataclasses-json==0.6.7
datacommons==1.4.3
datacommons-pandas==0.0.3
datasets==3.6.0
daytona_api_client==0.111.0
daytona_api_client_async==0.111.0
daytona_sdk==0.111.0
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
devtools==0.12.2
diffusers==0.25.1
dill==0.3.8
discord.py==2.6.4
distlib==0.4.0
distro==1.9.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.21.2
docx==0.2.4
docx2txt==0.8
duckduckgo_search==6.4.2
durationpy==0.10
e2b==1.11.1
e2b-code-interpreter==1.5.2
emoji==2.15.0
environs==14.3.0
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exa-py==1.16.1
exceptiongroup==1.2.2
executing==2.2.0
faiss-cpu==1.12.0
fake-http-header==0.3.5
fake-useragent==2.2.0
Farama-Notifications==0.0.4
fastapi==0.115.12
fastavro==1.12.1
fastjsonschema==2.21.1
fastuuid==0.14.0
feedparser==6.0.12
ffmpeg-python==0.2.0
ffmpy==0.6.3
filetype==1.2.0
firecrawl-py==1.17.0
fish-audio-sdk==2024.12.5
Flask==3.1.2
flatbuffers==25.9.23
fonttools==4.57.0
free_proxy==1.1.3
frozenlist==1.6.0
fsspec==2025.3.0
future==0.18.3
geojson==3.2.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.26.0
google-api-python-client==2.166.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.121.0
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.15.0
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.45.0
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
googlemaps==4.10.0
gpustat==1.1.1
gpustat-web==0.3.0
gradio==3.36.1
gradio_client==1.13.3
graphviz==0.20.3
greenlet==3.2.4
griffe==1.14.0
grpc-google-iam-v1==0.14.3
grpcio==1.75.1
grpcio-status==1.75.1
gymnasium==0.28.1
h11==0.16.0
h2==4.3.0
h5py==3.10.0
hpack==4.1.0
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httplib2==0.31.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.8.0
huggingface-hub==0.30.2
humanfriendly==10.0
hyperframe==6.1.0
ibm-cos-sdk==2.14.3
ibm-cos-sdk-core==2.14.3
ibm-cos-sdk-s3transfer==2.14.3
ibm_watsonx_ai==1.3.42
identify==2.6.15
imageio==2.37.0
imageio-ffmpeg==0.4.9
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
invoke==2.2.1
iopath==0.1.10
ipykernel==6.31.0
ipython==8.20.0
isaacsim @ file:///tmp/tmpt6jh6zd7/isaacsim-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=71902465801ab873abff52ea118475d3c5a02cd5d1652478484aee28599c59ff
isaacsim-app @ file:///tmp/tmpt6jh6zd7/isaacsim_app-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f873bdb1cf14ad18bb39cb9f7dadbc748c03ffdde8338a3b757bc164a9ff18a2
isaacsim-asset @ file:///tmp/tmpt6jh6zd7/isaacsim_asset-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f5166b87c30e3b3a5d215349cbc5c0832b43a453e26f367de8bb6bf5236b92b1
isaacsim-benchmark @ file:///tmp/tmpt6jh6zd7/isaacsim_benchmark-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=aaeb0d9a4ea738c3a05a4efcdc68a1f67fd6b73544a411fd3db42ad2f37698c5
isaacsim-code-editor @ file:///tmp/tmpt6jh6zd7/isaacsim_code_editor-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f4fa30edaee8feca1ec82b016caa7f5938491c7be305f5753114804f65a81c98
isaacsim-core @ file:///tmp/tmpt6jh6zd7/isaacsim_core-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f2b66ddc719e9d867ea2bb4808fe5652499d18a8f7a1f1fc969792845c434bef
isaacsim-cortex @ file:///tmp/tmpt6jh6zd7/isaacsim_cortex-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=12a0b526b668222d64a7a6f6d2f951082dd293f7a12bc5c56c3777b43fec8f89
isaacsim-example @ file:///tmp/tmpt6jh6zd7/isaacsim_example-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=4522d6a94c7286c094613f158538404eaa7418d92e0f1aae30931d0b1f8964cf
isaacsim-extscache-kit @ file:///tmp/tmpt6jh6zd7/isaacsim_extscache_kit-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=a616873d9e34e7dcb9f84100d377846b70ba6251c468cdcf05a375f7a9291e0d
isaacsim-extscache-kit-sdk @ file:///tmp/tmpt6jh6zd7/isaacsim_extscache_kit_sdk-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=636a81c1c81fdfaaa4baee5f5abf7acfadf8d939fee99f59b224731a27d52748
isaacsim-extscache-physics @ file:///tmp/tmpt6jh6zd7/isaacsim_extscache_physics-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f7d4ef44821ebb3d28be3690dc5123c8040aa66074e6dd763a56e14226da0c63
isaacsim-gui @ file:///tmp/tmpt6jh6zd7/isaacsim_gui-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=64a9fad16db54378daf32332392029cb38984acdbbf4e276dbb064173b30b43d
isaacsim-kernel @ file:///tmp/tmpt6jh6zd7/isaacsim_kernel-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=9c5ed3358f63615640a88506e9bc7c0db1c77c601b7326d732ee8d899a4a300a
isaacsim-replicator @ file:///tmp/tmpt6jh6zd7/isaacsim_replicator-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=d8b257471bf282ad9f400e8af8fc2249e1f1d01a88c1093227407c04da094dcb
isaacsim-rl @ file:///tmp/tmpt6jh6zd7/isaacsim_rl-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=7efdbbe488d9798623e7c6c5607f0d8514f1d4f02e9a903df635c37916ca1d17
isaacsim-robot @ file:///tmp/tmpt6jh6zd7/isaacsim_robot-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=a04305c4c66186cdd9cec8543fb7870dc7fda91c2c7d8cb751ebf0e1c510acac
isaacsim-robot-motion @ file:///tmp/tmpt6jh6zd7/isaacsim_robot_motion-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f8d4fbc7276668611c82b546ed909556bea7dd14df467a5b03758d8825b5aabb
isaacsim-robot-setup @ file:///tmp/tmpt6jh6zd7/isaacsim_robot_setup-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f99dd834b7f05d08e3b3062647516e219b5919806164c72ea2558fd9a8aff16e
isaacsim-ros1 @ file:///tmp/tmpt6jh6zd7/isaacsim_ros1-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=1cb07e3c8b58f231310bc1feaa505ecf871a27a27c93b6be38362d11c777c9ad
isaacsim-ros2 @ file:///tmp/tmpt6jh6zd7/isaacsim_ros2-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=952da92ce89afff93989d49b2a702305139c619f1170160488e2a98e65e758df
isaacsim-sensor @ file:///tmp/tmpt6jh6zd7/isaacsim_sensor-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=be66db265ce8bbd94d5153f0459a30c357bc198b18b2675189b933979d477fc6
isaacsim-storage @ file:///tmp/tmpt6jh6zd7/isaacsim_storage-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=f0dd2f9785155602689b636c535a4c41d92fbf3419c0ef945909fc9f4956fb37
isaacsim-template @ file:///tmp/tmpt6jh6zd7/isaacsim_template-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=da925385c8b9703667832e0d983149d2faa0682b00abacdc175b21c3229ac780
isaacsim-test @ file:///tmp/tmpt6jh6zd7/isaacsim_test-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=7a831bec8d513447de74223bbd73e89737dc6f5f4f7f4adf601ea90265ac1e75
isaacsim-utils @ file:///tmp/tmpt6jh6zd7/isaacsim_utils-4.1.0.0-cp310-none-manylinux_2_34_x86_64.whl#sha256=10482f2c026aa85b826188eba7d5af48367c3eedbb7d3ef863f1059ddbe18e59
isodate==0.7.2
itsdangerous==2.2.0
jaraco.context==6.0.1
jax-jumpy==1.0.0
jedi==0.19.2
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupytext==1.17.0
kiwisolver==1.4.8
kubernetes==33.1.0
langdetect==1.0.9
langfuse==3.8.0
latex2sympy2_extended==1.10.1
lazy-object-proxy==1.12.0
linkify-it-py==2.0.3
linkup-sdk==0.2.11
litellm==1.78.5
lomond==0.3.3
lxml==5.4.0
magika==0.6.2
Markdown==3.7
markdown-it-py==2.2.0
markdownify==1.2.0
markitdown==0.1.3
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
marshmallow==3.26.1
math-verify==0.7.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mcp==1.18.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mem0ai==0.1.115
microsandbox==0.1.8
mistralai==1.9.11
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mmh3==5.2.0
mock==5.2.0
more-itertools==10.8.0
MouseInfo==0.1.3
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.4.3
multipart==1.3.0
multiprocess==0.70.16
mypy==1.18.2
mypy_extensions==1.1.0
narwhals==2.9.0
nbformat==5.10.4
nebula3-python==3.8.2
neo4j==5.28.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
notion-client==2.5.0
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
nvidia-ml-py==12.570.86
oauthlib==3.3.1
obstore==0.7.3
olefile==0.47
-e git+https://github.com/Chezacar/planner_bench.git@12626310381f42f4bbb48004fcb009b2f4c920e8#egg=omnigibson
omniverse-kit @ file:///tmp/tmpt6jh6zd7/omniverse_kit-106.0.1.126909-cp310-none-manylinux_2_34_x86_64.whl#sha256=c3322f05a4adb095adc9ba4923d7d7ca990bdb90ae3c8c2f159b49f3e7d6ec68
onnxruntime==1.19.2
openai==1.109.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
opencv-python==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-asgi==0.59b0
opentelemetry-instrumentation-fastapi==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-util-http==0.59b0
ordered-set==4.1.0
orjson==3.11.3
ormsgpack==1.11.0
osqp==0.6.7.post3
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathable==0.4.4
pathspec==0.12.1
pdfminer.six==20250506
pexpect==4.9.0
pgvector==0.2.5
pillow==10.4.0
platformdirs==4.3.7
playwright==1.55.0
pluggy==1.5.0
portalocker==3.1.1
posthog==6.7.8
prance==23.6.21.0
praw==7.8.1
prawcore==2.4.0
pre-commit==3.8.0
primp==0.15.0
progressbar==2.5
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==5.9.8
psycopg==3.2.11
psycopg-binary==3.2.11
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.11.0
pydantic_core==2.33.1
pydub==0.25.1
pyee==13.0.0
PyGetWindow==0.0.9
PyGithub==2.8.1
Pygments==2.19.1
PyJWT==2.10.1
PyLaTeX==1.4.2
pymeshlab==2022.2.post4
pymilvus==2.6.2
PyMsgBox==2.0.1
PyMuPDF==1.26.5
PyMySQL==1.1.2
PyNaCl==1.6.0
pyobvector==0.2.16
pyOpenSSL==25.3.0
pyowm==3.5.0
pyparsing==3.2.3
pypdf==6.1.2
PyPDF2==3.0.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pyTelegramBotAPI==4.29.1
pytesseract==0.3.13
pytest==7.4.4
pytest-asyncio==0.23.8
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-iso639==2025.2.18
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-pptx==1.0.2
python3-xlib==0.15
pytidb==0.0.13
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@0a59450f0ebbe12d9a8db3de937814932517633b
pytweening==1.2.0
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==27.1.0
qdldl==0.1.7.post5
qdrant-client==1.15.1
rank-bm25==0.2.2
RapidFuzz==3.14.1
redis==5.3.1
referencing==0.36.2
regex==2024.11.6
reka-api==3.2.0
reportlab==4.4.4
requests==2.32.5
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resend==2.17.0
rfc3339-validator==0.1.4
rich==14.0.0
rlcard==1.2.0
rouge==1.0.1
rpds-py==0.24.0
rsa==4.9.1
Rtree==1.2.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
s3transfer==0.11.4
safetensors==0.5.3
scenedetect==0.6.7.1
scholarly==1.7.11
scikit-learn==1.7.2
scipy==1.15.2
scrapegraph_py==1.36.0
selenium==4.37.0
semantic-version==2.10.0
sentencepiece==0.2.0
sgmllib3k==1.0.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
slack_bolt==1.26.0
slack_sdk==3.37.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.44
sqlglot==26.33.0
sqlmodel==0.0.27
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.46.1
stem==1.8.2
stripe==11.6.0
surrealdb==1.0.6
sympy==1.14.0
tabulate==0.9.0
tavily-python==0.5.4
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
textblob==0.17.1
tf-playwright-stealth==1.2.0
threadpoolctl==3.6.0
tiktoken==0.7.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.2
transforms3d==0.4.2
tree-sitter==0.23.2
tree-sitter-python==0.23.6
trimesh==4.0.10
trio==0.31.0
trio-websocket==0.12.2
triton==3.1.0
typer==0.20.0
types-colorama==0.4.15.20250801
types-mock==5.2.0.20250924
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
types-setuptools==69.5.0.20240522
types-tqdm==4.67.0.20250809
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py==1.0.3
ujson==5.11.0
unstructured==0.16.20
unstructured-client==0.42.3
update-checker==0.18.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.34.0
uvloop==0.22.1
validators==0.35.0
virtualenv==20.35.3
watchfiles==1.0.5
wcwidth==0.2.13
weaviate-client==4.17.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wikipedia==1.4.0
wolframalpha==5.1.3
wrapt==1.17.3
wsproto==1.2.0
xlrd==2.0.2
xls2xlsx==0.2.0
xlsxwriter==3.2.9
xmltodict==1.0.2
xxhash==3.6.0
yarl==1.20.0
yt-dlp==2024.12.23
zipp==3.23.0
